<header class="server1-header" ng-controller="commonController">
  <a href="#">当前位置</a>
  <span>&gt;&gt;</span>
  <a href="#">{{meName}}</a>
  <span>&gt;&gt;</span>
  <a href="#">{{meSub}}</a>
</header>

<div class="scrollPage" ng-controller="kuaidiController">
  <table class="table table-bordered table-condensed">
    <tr>
      <th colspan="3">寄件人信息</th>
    </tr>
    <tr>
      <td>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon">姓名：</div>
            <input class="form-control" type="text">
          </div>
        </div>
      </td>
      <td>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon">地址：</div>
            <input class="form-control" type="text">
          </div>
        </div>
      </td>
      <td>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon">手机：</div>
            <input class="form-control" type="text">
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <th colspan="3">收件人信息</th>
    </tr>
    <tr>
      <td>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon">姓名：</div>
            <input class="form-control" type="text">
          </div>
        </div>
      </td>
      <td>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon">地址：</div>
            <input class="form-control" type="text">
          </div>
        </div>
      </td>
      <td>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon">邮编：</div>
            <input class="form-control" type="text">
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon">手机：</div>
            <input class="form-control" type="text">
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <th colspan="3">物品信息</th>
    </tr>
    <tr>
      <td>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon">物品名：</div>
            <input class="form-control" type="text">
          </div>
        </div>
      </td>
      <td>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon">重量：</div>
            <input class="form-control" type="text">
          </div>
        </div>
      </td>
      <td>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon">价格：</div>
            <input class="form-control" type="text">
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <button data-toggle="modal" data-target="#myModal" ng-click="showM()" type="button" class="btn btn-success">提交</button>
      </td>
    </tr>
  </table>

  <div ng-show="isShow" class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title">提交提示</h4>
        </div>
        <div class="modal-body">
          <h3>您确定提交该单号信息吗？</h3>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-primary" ng-click="submitKD()">确定</button>
        </div>
      </div>
    </div>
  </div>

</div>
